div {
    display: inline-block;
}
.satu {
    background-color: yellowgreen;
    width: 300px;
    height: 250px;
    margin-left: 30px;
}
.satu img {
    width: 300px;
    height: 250px;
}
.dua {
    background-color: orangered;
    width: 300px;
    height: 250px;
    margin-left: 20px;
}
.dua img {
    width: 300px;
    height: 250px;
    
}
.tiga {
    background-color: green;
    width: 300px;
    height: 250px;
    margin-left: 20px;
}
.tiga img {
    width: 300px;
    height: 250px;
}
.empat {
    background-color: aqua;
    width: 300px;
    height: 250px;
    margin-left: 20px;
}
.empat img {
    width: 300px;
    height: 250px;
}
